{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "browsers": [
          "last 2 versions",
          "IE >= 11"
        ]
      },
      "useBuiltIns": true
    }]
  ],
  "plugins": [
    "syntax-trailing-function-commas",
    "transform-decorators-legacy",
    "transform-class-properties",
    ["transform-object-rest-spread", {
      "useBuiltIns": true
    }]
  ]
}
